<%- model_class = Register -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first) %>:</strong></dt>
  <dd><%= @register.first %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last) %>:</strong></dt>
  <dd><%= @register.last %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @register.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @register.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cellphone) %>:</strong></dt>
  <dd><%= @register.cellphone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @register.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
  <dd><%= @register.company %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paymentmethod) %>:</strong></dt>
  <dd><%= @register.paymentmethod %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nitname) %>:</strong></dt>
  <dd><%= @register.nitname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nitnumber) %>:</strong></dt>
  <dd><%= @register.nitnumber %></dd>
</dl>

<%= link_to "Volver al inicio", :controller => "welcome", :action => "index" %>

 <% if current_user%>
 <% if current_user.admin %>
        
      <div class="form-actions">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    registers_path, :class => 'btn btn-primary'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_register_path(@register), :class => 'btn' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    register_path(@register),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      </div>


       <% else %>
               <%= link_to "Registrate con facebook", "/auth/facebook", id: "sign_in" %>

       <% end %>
<% else %>
<% end -%>

